.w-full {
    width: 100%;
  }
  
  .light {
    font-weight: 300;
  }
  
  .regular {
    font-weight: 400;
  }
  
  .semibold {
    font-weight: 600;
  }
  
  .overline {
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  .mono {
    font-family: "Source Code Pro", monospace;
  }
  
  .list-style-none {
    list-style-type: none;
  }
  
  .text-decoration-none {
    text-decoration: none;
  }
  
  .py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .my-0\.5{
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .mb-1 {
    margin-bottom: 1rem;
  }
  
  .text-primary-regular {
    color: var(--primary-regular);
  }
  
  .text-primary-dark {
    color: var(--primary-dark);
  }
  
  .text-white {
    color: var(--white)
  }
  
  .bg-primary-darker {
    background-color: var(--primary-darker);
  }