.input-container {
    border: 1px solid var(--gray-700);
    border-radius: 6px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    }

.input-container:focus-within {
    box-shadow: 0px 0px 0px 3px var( --green-600);
}

.input-icon{
    color: var(--green-900);
    width: 100%;
    padding: 0.5rem 0;
    border: none;
    background-color: var(--white);
    font-size: 1rem;
    line-height: 1.7rem;
    font-weight: 300;
    outline: none;
}

.input-icon:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.input-container i {
    margin-right: 14.67px;
}
   
.input-icon:focus + i {
    color: var(--green-600);
}

.input-icon:user-invalid + i {
    color: var(--red-500);
}
