.portafolio-main {
    height:780px;
    margin-top: 150px;
    margin-bottom: 200px;
}


.icon-code {
  font-size:25px ;
  padding: 10px;
  background-color:  #F3F4F6;
  border-radius: 8px;
  margin-right: 10px;

}
.icon-red {
    color:#EB5757 ;
}
.icon-black {
    color: #000000;
}

.portafolio-icons__link i {
    font-size:40px ;
    margin-right: 10px;
  
}
.icon-green {
    color: #3A824D;
}
.portafolio-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tag {
    padding: 2px 10px;
    background-color: #CCFAE1; 
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #09201B;
    margin-right: 8px;
}
.portafolio-tags {
    display: flex;
    align-items: center;
}
.portafolio-group {
    display:grid ;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));   
    gap:32px;
    margin-bottom: 32px;
    margin-top: 40px;
    }
    .portafolio-summary__header {
        text-align: center;
    }