
/* .skill {
  /* font-size: 18px; */


  .skill h1 {
    font-size: 36px;
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 40px;
    color: var(--green-900);
    font-family: var(--font-primary);
  }
  
  .skill h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 56px;
    margin-bottom: 24px;
    color: var(--green-900);
    font-family: var(--font-primary);
  }
  
  .skill p {
    margin: 24px 0;
    font-weight: 300;
    line-height: 32px;
    color: var(--green-900);
  }
  
  .skill strong {
    font-weight: 600;
  }
  
  .skill a {
    color: #3A824D;
    font-weight: 400;
  }
  
  .skill li {
    margin: 18px 0;
    line-height: 32px;
    color: var(--green-900);
    font-weight: 300;
  }
  
  .skill blockquote {
    margin: 24px 0;
    background-color: #77E297;
    color: var(--green-900);
    padding: 16px 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: italic;
  }
  
  /* Other blockquote */
  /* .skill blockquote {
    margin: 24px 0;
    border-left: 5px solid #77E297;
    background-color: #CCFAE1;
    color: var(--green-900);
    padding: 16px 18px;
    font-weight: 400;
    line-height: 32px;
    font-style: italic;
  } */
  
  .skill figure {
    margin: 32px 0;
  }
  
  .skill figcaption {
    color: var(--green-900);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 16px;
  }
  
  .skill img {
    border-radius: 8px;
  }
  
  /* skill Summary */
  
  /* .skill-summary {} */
  
  .skill-summary__header {
    text-align: center;
  }
  
  .skill-summary__content {
    display: grid;
    /* repeat(#_de_veces, tamano) */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: repeat(auto-fill, 1fr); */
    /* grid-template-columns: repeat(auto-fill, 600px); */
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
  
    padding: 3rem;
  }

  .skill-icon__size{
    font-size: 25px;
    color: #10B981;
    margin-right:19.2px ;
   

  }
  
 .skill-summary__card { 
    display:flex;
    align-items: baseline;

 }